/*
 red in logo is  #f06
 purple in logo is  #ef39e9
*/

.left {text-align:left;}
.right{text-align:right;}
.usage {text-align:left;}
h1 {font-size:1em;color:#f06;background-color:#eee;display:block;padding:0.8em;}
h2 {font-size:1.2em;color:#f06;background-color:#eee;display:block;height:2em;padding-top:0.8em;}
h3 {font-size:1.1em;color:0;font-weight:bold;margin:5px;}
a {text-decoration:none;}
a:link {color: #f06;}
a:visited {color: #f06;}
p {padding:10px;}
span.file {font-weight:bold;}
ul {padding:10px;list-style:square}
ol {padding:10px;list-style:decimal;}

ul li {margin-left:2em;padding:0.3em;}
ol li {margin-left:2em;padding:0.3em;}

li p {margin-left:0;}

code,pre {color:navy;background-color:beige;font-size:11pt;}

pre {border:2px dashed navy;margin-left:3em;margin-right:4em;margin-top:1em;margin-bottom:1em;white-space:pre-line;}

.copyright {font-size:0.8m;text-align:center}
.copyright a {color:#ef39e9}
.sflogo {float:right; margin-right:30px;}

table.options {margin-left:40px;margin-right:20px;border:1px solid black;border-collapse:collapse;}
table.options thead th {text-align:center;border:1px solid black; padding:5px}
table.options tbody td {text-align:left;border:1px solid black; padding:5px}